.content {
  margin-top: 15px;
}
.search {
  margin-bottom: 10px;
}

.Favorite {
  width: 55px;
  height: 55px;
  .active {
    background-image: url("../icon/starIcon-02.png");
    width: 50px;
    height: 50px;
    &:hover {
      background-image: url("../icon/starIcon-04.png");
    }
  }
  :not(.active) {
    width: 50px;
    height: 50px;
    background-image: url("../icon/starIcon-01.png");
    &:hover {
      background-image: url("../icon/starIcon-03.png");
    }
  }
}
.noFavorites {
  margin-top: 20px;
  text-align: center;
}
.InfoLists {
  h2 {
    margin-top: 15px;
  }
}
